{% extends "base.html" %}

{% block body %}

{% load static %}
<link rel="stylesheet" href="{% static "accounts.css" %}">

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Registration</h3>
                </div>
                <div class="panel-body">

                    {# DEPRECATED  <form accept-charset="UTF-8" method="post" role="form" action="{% url 'login' %}">#}

                    <form accept-charset="UTF-8" method="post" role="form" >
                    {% csrf_token %}

{#                        {% if next %}#}
{#                            <input type="hidden" name="next" value="{{ next }}" />#}
{#                        {% endif %}#}

{#                        {{ form.as_p }}#}

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                <input class="form-control" type="email" id="email" name="email" required autofocus
                                       value="{{ form.email.value|default:'' }}" placeholder="E-mail Address">
                            </div>
                            {{ form.email.errors }}
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-lock"></span>
                                </span>
                                <input class="form-control" type="password" id="id_password1" name="password1" required
                                       placeholder="Password">
                            </div>
                            {{ form.password.errors }}
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-lock"></span>
                                </span>
                                <input class="form-control" type="password" id="id_password2" name="password2" required
                                       placeholder="Password">
                            </div>
                            {{ form.password.errors }}
                        </div>

                        <input formaction="{% url 'registration_register' %}" class="btn btn-lg btn-success btn-block" type="submit" value="Register">

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
