#tag-buttons-panel {
        margin-bottom: 1rem;
        margin-top: 1rem;
}

.movie-card {
    width: 100px;
}



/*.card-img-top {*/
        /*width: 20px;*/
/*}*/

.pag {
    margin-top: 1rem;
}

.movie-card > .card-block {
    padding: 2px;
}

.movie-title {
    line-height: 0.1rem;
}

/*********************/
/* BIG MOVIE POSTER */
/*********************/

.poster-container {
    width: 181px;
    height: 266px;
    border: thin solid red;
    display: block;
    margin: auto;
    padding: 2px;
    position: relative;
}

.poster-container img {
    width: 171px;
    height: 256px;
    object-fit: cover;
    border: thin solid green;
}

.movie-title {
    font-family: 'PT Sans', sans-serif;
    font-size: 11px;
    position: absolute;
    top: 0px;
}

/*.grid-poster {
    !*width: 158px;*!
    !*height: 231px;*!
}*/

/*****************/
/* PEOPLE */
/*****************/

.face-favorite {
    /*border: medium solid green;*/
    outline: 3px solid green;
    outline-offset: -3px;
}

.face-image-container img {
    width: 92px;
    height: 138px;
    /*max-width: 100%;*/
    /*max-height: 100%;*/
    margin: auto;
    display: block;
    object-fit: cover;
}