{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "movie.css" %}">
{% endblock %}

{% block content %}


    <div class="jumbotron">
        <h1>Cinema[set]</h1>
        <p>Здесь живут твои фильмы</p>
        <p><a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Login or register</a></p>
        <small><ul>
            <li>создай несколько тегов (списков), напр. "Буду смотреть" или "Просмотрено"</li>
            <li>Найди фильм</li>
            <li>Присвой ему теги</li>
        </ul></small>
    </div>


{% endblock %}