{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "movie.css" %}">
{% endblock %}

{% block content %}

<div class="row">
    <div class="col">
        <img src="{{ prefix }}{{ moviedata.poster_path }}" alt="" >
    </div>

    <div class="col">
        {% if tag_list %}
            <div class="card" id="tag-panel">
                <div class="card-block">
                    {% for tag in tag_list %}
                        <span id="{{ tag.pk }}"
                              onclick="toggle_tag_ajax({{ moviedata.id }}, {{ tag.pk }})"
                              class="tag-toggle badge badge-default label-pointer-cursor
                              {% if tag.active %} badge-success {% else %} badge-default {% endif %}"
                        >{{ tag.name }}</span>

                    {% endfor %}
                </div>

            </div>
        {% endif %}


        <table class="table table-bordered">
            <tr><td>Title</td><td>
                <h4>{{ moviedata.title }}<br>
                    <small class="text-muted">{{ moviedata.original_title }}</small>
                </h4>
            </td></tr>
            <tr><td>Overview</td><td>{{ moviedata.overview }}</td></tr>
            <tr><td>Release date</td><td>{{ moviedata.release_date }}</td></tr>
            <tr><td>Notice</td><td>

            {% csrf_token %}
            <p id='note-movie' data-movie-id='{{ m.tmdb_id }}' contenteditable="true">
                {% if m.notice %}{{ m.notice }}{% else %}click to edit{% endif %}
            </p>

            </td>
            </tr>


            <tr><td>Link</td>
                <td><span class="badge badge-info">
                        <a href="https://www.themoviedb.org/movie/{{ moviedata.id }}">TMDB</a>
                    </span>
                    <span class="badge badge-default">
                        <a href="#">IMDB</a>
                    </span>
                    <span class="badge badge-default">
                        <a href="#">Kinopoisk</a>
                    </span>
                    <span class="badge badge-default">
                        <a href="#">Letterboxd</a>
                    </span>
                </td></tr>
        </table>

        <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group" role="group" aria-label="First group">
                <button id="{{ movie.pk }}" type="button" class="btn btn-danger btn-sm button_delete">
                    <i class="fa fa-trash" aria-hidden="true"></i> DELETE <small>[not implement yet]</small>
                </button>
            </div>
            <div class="input-group">
                <button id="{{ movie.pk }}" type="button" class="btn btn-success btn-sm">
                    <i class="fa fa-save" aria-hidden="true"></i> SAVE
                </button>
            </div>
        </div>

    </div>
</div>

{% endblock %}