{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "movie.css" %}">
{% endblock %}

{% block js %}
<script type="text/javascript">
    $(function () {

        var movie_pk = "{{ movie.pk }}";

        $(".button_delete").confirm({
            title: 'What is up?',
            content: 'Here goes a little content',
            type: 'green',
            buttons: {
                ok: {
                    text: "ok!",
                    btnClass: 'btn-primary',
                    keys: ['enter'],
                    action: function () {
                        console.log('the user clicked confirm');
                    }
                },
                cancel: function () {
                    console.log('the user clicked cancel');
                }
            }
        });

    })
</script>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col">
        <img src="{{ prefix }}{{ movie.poster_path }}" alt="" >
    </div>

    <div class="col">
        {% if tag_list %}
            <div class="card" id="tag-panel">
                <div class="card-block">
                    {% for tag in tag_list %}
                        <span id="{{ tag.pk }}"
                              onclick="toggle_tag_ajax({{ movie.id }}, {{ tag.pk }})"
                              class="tag-toggle badge badge-default label-pointer-cursor
                              {% if tag.active %} badge-success {% else %} badge-default {% endif %}"
                        >{{ tag.name }}</span>

                    {% endfor %}
                </div>

            </div>
        {% endif %}

        <table class="table table-bordered">
            <tr><td>Title</td><td>{{ movie.title }} [{{ movie.original_title }}]</td></tr>
            <tr><td>overview</td><td>{{ movie.overview }}</td></tr>
            <tr><td>Release date</td><td>{{ movie.release_date }}</td></tr>
            <tr><td>Notice</td><td>{{ movie.notice }}</td></tr>
            <tr><td>Link</td>
                <td><span class="badge badge-info">
                        <a href="https://www.themoviedb.org/movie/{{ movie.id }}">TMDB</a>
                    </span>
                    <span class="badge badge-info">
                        <a href="#">IMDB</a>
                    </span>
                    <span class="badge badge-info">
                        <a href="#">Kinopoisk</a>
                    </span>
                    <span class="badge badge-info">
                        <a href="#">Letterboxd</a>
                    </span>
                </td></tr>
        </table>

        <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group" role="group" aria-label="First group">
                <button id="{{ movie.pk }}" type="button" class="btn btn-danger btn-sm button_delete">
                    <i class="fa fa-trash" aria-hidden="true"></i> DELETE {наверное это не нужно}
                </button>
            </div>
            <div class="input-group">
                <button id="{{ movie.pk }}" type="button" class="btn btn-success btn-sm">
                    <i class="fa fa-save" aria-hidden="true"></i> SAVE
                </button>
            </div>
        </div>

    </div>
</div>

{% endblock %}