{% extends "base.html" %}
{% load static %}
{% load custom_templates %}

{% block css %}
    <link rel="stylesheet" href="{% static "movies.css" %}">
{% endblock %}


{% block content %}
    {% csrf_token %}

    <h2>{{ title }}</h2>
    <h3>Cast</h3>
    {% for p in cast %}
        <div class="face-image-container d-inline-block" id="{{ p.id }}">
            <div class="face-inner {% if p.stored %}face-favorite{% endif %}">
                <a href="#"
                   class="tooltipster "
                   title="<strong>{{ p.name }}</strong><br><small>{{ p.character }}<small>">
                    <img  src="{% if p.profile_path %}{{ p.profile_path|w92 }}{% else %}{% static 'dummyman.jpg' %}{% endif %}">
                    <div class="loader"></div>
                </a>
            </div>
        </div>
    {% endfor %}

    <h3>Crew</h3>
    {% for p in crew %}
        <div class="face-image-container d-inline-block" id="{{ p.id }}">
            <div class="face-inner {% if p.stored %}face-favorite{% endif %}">
                <a href="#"
                   class="tooltipster "
                   title="<strong>{{ p.name }}</strong><br><small>{{ p.job }}<small>">
                    <img  src="{% if p.profile_path %}{{ p.profile_path|w92 }}{% else %}{% static 'dummyman.jpg' %}{% endif %}">
                    <div class="loader"></div>
                </a>
            </div>
        </div>
{% comment %}        <div class="face-image-container d-inline-block {% if p.stored %}face-favorite{% endif %}" id="{{ p.id }}">
            <a href="#"
               class="tooltipster"
               title="<strong>{{ p.name }}</strong><br><small>{{ p.job }}</small>">
               <img src="{% if p.profile_path %}{{ prefix }}{{ p.profile_path }}{% else %}{% static 'dummyman.jpg' %}{% endif %}">
            </a>
        </div>{% endcomment %}
    {% endfor %}




<p>
  <a class="btn btn-link" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Как работают Актеры
  </a>

</p>
<div class="collapse" id="collapseExample">
  <div class="card card-block">
      Нажмите на Актера, чтобы записать его в "Любимые актры", после этого он выделится зеленой рамкой.
      Теперь все фильмы будут показывать на своих страницах Любимых акторов.
  </div>
</div>



{% endblock %}