{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load custom_templates %}

{% block css %}
{#    <link rel="stylesheet" href="{% static "movie.css" %}">#}
    <link rel="stylesheet" href="{% static "movies.css" %}">
{% endblock %}

{% block content %}

<div class="row searchbar justify-content-center">
    <form accept-charset="UTF-8" role="form" class="form-inline" action="{% url 'search' %}" method="post">
        <div class="form-group">
            {{ form.non_field_errors }}
            {% csrf_token %}
            <div class="form-group form-control-lg">
                {# {{ form.movie.label_tag }}#}
                {{ form.movie }}
            </div>

            {{ form.movie.errors }}
        </div>
        <input class="btn btn-lg btn-success" type="submit" value="{% trans 'Search' %}">
    </form>
</div>


{% if moviesdata %}


        {% for m in moviesdata %}

{% comment %}            <div class="card">

                <a href="{% url 'addmovie' m.id %}"
                   class="tooltipster"
                   title="<strong>{{ m.title }}</strong><br>{{ m.release_date|slice:":4" }}"
                   data-content="{{ m.overview }}">
                   <img class="img-fluid card-img-top"
                        src="{{ m.poster_path|w154 }}"
{#                        src="https://image.tmdb.org/t/p/w154/{{ m.poster_path }}"#}
                        alt=""
                    >
                </a>

            </div>{% endcomment %}
            <div class="poster-container d-inline-block">

                <a href="{% url 'addmovie' m.id %}"
                   class="tooltipster" {% comment %}title="{{ movie.title }}<br> [{{ movie.year }}]">{% endcomment %}
                   title="<strong>{{ m.title }}</strong><br>{{ m.release_date }}">
                   <img class="" src="{{ m.poster_path|w154 }}">
                </a>
            </div>
        {% endfor %}

{% endif %}

{% endblock %}
