{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "movie.css" %}">
{% endblock %}

{% block content %}

<div class="row searchbar justify-content-center">
    <form accept-charset="UTF-8" role="form" class="form-inline" action="{% url 'search' %}" method="post">
        <div class="form-group">
            {{ form.non_field_errors }}
            {% csrf_token %}
            <div class="form-group form-control-lg">
                {# {{ form.movie.label_tag }}#}
                {{ form.movie }}
            </div>

            {{ form.movie.errors }}
        </div>
        <input class="btn btn-lg btn-success" type="submit" value="{% trans 'Search' %}">
    </form>
</div>


{% if moviesdata %}
    <div class="card-columns">

        {% for m in moviesdata %}

            <div class="card">

                <a href="{% url 'addmovie' m.id %}"
                   class="tooltipster"
                   title="<strong>{{ m.title }}</strong><br>{{ m.release_date|slice:":4" }}"
                   data-content="{{ m.overview }}">
                   <img class="img-fluid card-img-top"
                        src="{{ prefix }}{{ m.poster_path }}"
                        alt=""
                    >
                </a>

            </div>
        {% endfor %}
    </div>
{% endif %}

{% endblock %}
