@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

html {
    height: 100%;
}

body {
    /* Отступ, чтобы футер не залезал на хедер (если футер - sticky) */
    margin-bottom: 60px;
    height: 100%;
}

.container {
    max-width: 1200px;
    height: 100%;
    margin-bottom: 60px;
}

.navbar-toggleable-md {
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding-right: 10px;
}


.table tbody>tr>td.vert-align{
    vertical-align: middle;
}

/*.sidebar, .content{*/
    /*min-height:300px*/
/*}*/

h2 {
    margin:0;
    color:#666
}


/* Custom page footer */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: dimgray;
    text-align: center !important;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #272B30;
}


.label-pointer-cursor {
    cursor: pointer;
}


/**********************************************/
/* TAGS */
/* http://stackoverflow.com/a/22401683/1334825 - orig suggestion */
/* http://stackoverflow.com/a/35343087/1334825 - modified css */
/* http://jsfiddle.net/7zkCU/30/ - fiddle */

.tag {
    font-size: 14px;
    padding: 0.5em 0.4em 0.3em 0.6em;
    margin: 3px 1px !important;
    display: inline-block;
    max-width: 100%;
}


.tag > span {
    display: inline-block;
    max-width: 94%;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.tag a {
    display: inline-block;
    color: #bbb;
    cursor: pointer;
    opacity: 0.6;
    margin: 0 0 0 0.3em;
}

.tag a:hover {
    /*opacity: 1.0;*/
    color: red;
    transition: all 0.4s ease 0s;
}

/*.tag a .glyphicon-white {*/
.tag a   {
    color: #fff;
    margin-bottom: 2px;
}

.tag .remove {
    vertical-align: bottom;
    top: 0;
}

/* end tags *********************************************/

/**********************************************/
/* Jquery popup (in bootstrap messages style) */

#snoAlertBox {
    position: absolute;
    z-index: 1400;
    top: 2%;
    right: 4%;
    margin: 0px auto;
    text-align: center;
    display: none;
}