<!DOCTYPE html>
<html lang="en">
<head>

    <!-- meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="Description" lang="ru" content="ADD SITE DESCRIPTION">
  <meta name="author" content="ADD AUTHOR INFORMATION">
  <meta name="robots" content="index, follow">

  {% block meta %}{% endblock %}

    <!-- load django template tag -->
  {% load static %}
  {% load admin_urls %}

    <!-- Jquery must load in header due dependency in game.js -->
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>#}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


    <!-- bootsrap and jquery -->
{# == V3 == #}
{#  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">#}
{#  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/slate/bootstrap.min.css">#}
{# == V4 == #}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
{#    <link rel="stylesheet" href="https://cdn.rawgit.com/thomaspark/bootswatch/v4/solar/bootstrap.min.css">#}
    <link rel="stylesheet" href="https://cdn.rawgit.com/thomaspark/bootswatch/v4/slate/bootstrap.min.css">



    <script src="{% static "csfr_ajax.js" %}"></script>

    <!-- Override CSS file - add your own CSS rules -->
  <link rel="stylesheet" href="{% static "main.css" %}">

<!-- Favicons -->
  <link rel="shortcut icon" type="image/png" href="{% static "favicons/favicon.ico" %}"/>
  <title>Cinema[set] == private movies collection</title>

</head>

<body>

    <div id="snoAlertBox" class="alert" data-alert="alert"></div>

    <div class="container">
        {% include "navbar.html" %}


        {% include "django_messages.html" %}
        {% block title %}    {% endblock %}
        {% block content %}  {% endblock %}

    </div>

    {% include "footer.html" %}


    <!-- Bootstrap core JavaScript
        ================================================== -->



    <!-- Placed at the end of the document so the pages load faster -->
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="https://cdn.rawgit.com/mistic100/Bootstrap-Confirmation/15759685/bootstrap-confirmation.min.js"></script>
    <script src="https://cdn.rawgit.com/Krinkle/jquery-json/23398043/dist/jquery.json.min.js"></script>
    <script src="https://cdn.rawgit.com/IonDen/ion.sound/master/js/ion.sound.min.js"></script>
    <script src="https://use.fontawesome.com/4e089d5a4d.js"></script>


    <script src="{% static "movies.js" %}"></script>

</body>
</html>

