<!DOCTYPE html>
<html lang="en">
<head>

    <!-- meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" lang="ru" content="Place for all your movies is there">
    <meta name="author" content="Swasher">
    <meta name="robots" content="index, follow">

    {% block meta %}{% endblock %}

    <!-- load django template tag -->
    {% load static %}
    {% load admin_urls %}

    <!-- JQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Bootsrap v4 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    {#    <link rel="stylesheet" href="https://cdn.rawgit.com/thomaspark/bootswatch/v4/solar/bootstrap.min.css">#}
    <link rel="stylesheet" href="https://cdn.rawgit.com/thomaspark/bootswatch/v4/slate/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <!-- Tooltipster-->
    <script src="https://cdn.jsdelivr.net/jquery.tooltipster/4.2.5/js/tooltipster.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.tooltipster/4.2.5/css/tooltipster.bundle.min.css">
    <!-- Tooltipster pligin for tooltip follow mouse-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/louisameline/tooltipster-follower@0.1.5/dist/css/tooltipster-follower.min.css">
    <script src="https://cdn.jsdelivr.net/gh/louisameline/tooltipster-follower@0.1.5/dist/js/tooltipster-follower.min.js"></script>


    <!-- jquery-confirm -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.2.3/jquery-confirm.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.2.3/jquery-confirm.min.js"></script>

    <!-- other loads -->
    <script src="https://cdn.rawgit.com/Krinkle/jquery-json/23398043/dist/jquery.json.min.js"></script>
    <script src="https://cdn.rawgit.com/IonDen/ion.sound/master/js/ion.sound.min.js"></script>
    <script src="https://use.fontawesome.com/4e089d5a4d.js"></script>

    <!-- Own CSS and JS -->
    <link rel="stylesheet" href="{% static "main.css" %}">
    <script src="{% static "csfr_ajax.js" %}"></script>
    <script src="{% static "movies.js" %}"></script>
    <script src="{% static "inline-edit.js" %}"></script>
    {% block css %}{% endblock %}
    {% block js %}{% endblock %}


    <!-- Favicons -->
    <link rel="shortcut icon" type="image/png" href="{% static "favicons/favicon.ico" %}"/>
    <title>Cinema[set] *** private movies collection</title>

</head>

<body class="d-flex flex-column">

    <div id="snoAlertBox" class="alert" data-alert="alert"></div>

    <div class="container flex-grow">
        {% include "navbar.html" %}

        {% include "messages.html" %}
        {% block title %}    {% endblock %}
        {% block content %}  {% endblock %}

    </div>

    {% include "footer.html" %}

</body>
</html>

