<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{% url 'hello' %}">Cinema[set]</a>

    <div class="collapse navbar-collapse" id="navbarColor01">
        {% comment %}            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>{% endcomment %}

        <ul class="navbar navbar-nav mr-auto">
            <li class="nav-item active"><a class="nav-link" href="{% url 'movies' %}">Игры</a></li>
            {# <li class="nav-item active"><a href="{% url 'tags' %}">Списки</a></li>#}
            <li class="nav-item active"><a class="nav-link" href="#">Списки</a></li>
            <li class="nav-item active"><a class="nav-link" href="{% url 'search' %}">Найти</a></li>
        </ul>

        {% comment %}
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        {% endcomment %}

        <div class="navbar-nav  btn-group  my-2 ml-auto">
        {% if user.is_authenticated %}

            <a href="{% url 'admin:index' %}"
               class="btn btn-default {% if not user.is_superuser %}disabled{% endif %}" role="button"><span
                    class="glyphicon glyphicon-wrench"></span>Admin</a>

            <a href="{% url 'cabinet' %}"
               class="btn btn-success" role="button"><span
                    class="glyphicon glyphicon-wrench"></span>{{ user.email }}
            </a>
            <a href="{% url 'logout' %}?next=/" class="btn btn-default" role="button"><span
                    class="glyphicon glyphicon-log-in"></span> Logout</a>

        {% else %}

            <a class="btn btn-primary" href="{% url 'registration_register' %}" role="button">Register</a>
            <a class="btn btn-primary" href="{% url 'login' %}" role="button">Login</a>

        {% endif %}
        </div>
    </div>
</nav>

